@media (min-width:320px)  {
    
    body {
        font-family: 'Open Sans';
        margin: 10px;
        padding: 10px;
    }
    
    
    .profile-picture {
        border-radius: 50%;
        margin-top: 10px;
        max-width: 15%;
        float: right;
    }

    .dropdown {
        position: relative;
        display: inline-block;
    }
    
    .dropbtn {
        padding: 10px 10px;
        border: none;
        cursor: pointer;
        background-color: transparent;
        font-size: 25px;
    }
    
    .dropdown-content {
        display: none;
        position: absolute;
        background-color: #f9f9f9;
        box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
        z-index: 1;
    }
    
    .dropdown-content a {
        color: black;
        padding: 12px 10px;
        display: block;
        text-decoration: none;
    }
    
    .dropdown-content a:hover {
        background-color: #f1f1f1;
    }
    
    .dropdown:hover .dropdown-content {
        display: block;
    }

/* search box */


#searchBox {
    width: 100%; 
    padding: 8px;
    border: 1px solid #efeded;
    border-radius: 5px;
    background-color: #efeded;
    margin: 10px 0; 
    box-sizing: border-box;
    height: 40px;
    margin-top: 40px;
    position: relative;
}

.search-container {
    text-align: center;
}

.searchicon {
    position: absolute;
    top: 17%;
    right: 40px;
    transform: translateY(-50%);
}

.material-icons-outlined {
    font-size: 24px;
    color: #555;
    cursor: pointer;
}

.recent-searches p {
color:#8e8c8c;
}

.search-icon {
    font-size: 20px;
    cursor: pointer;
}

.recent-searches {
    display: none;
    text-align: left;
}

.recent-searches p {
    font-weight: bold;
    margin-bottom: 5px;
    padding: 10px;
}

.search-item {
    display: flex;
    justify-content: space-between;
    padding: 10px;
}

.arrow-icon {
    font-size: 12px;
}



.navigation-bar {
    background-color: #fff;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    z-index: 1000; /* Ensure the navigation bar is above other elements on the page */
}

nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 10px;
    font-size: 10px;
}

a {
    text-align: center;
    text-decoration: none;
    color: #242526;
    display: flex;
    flex-direction: column;
    transition: color 0.3s;
}

a:hover {
    color: #1E90FF;
}

.icon {
    font-size: 24px;
    margin-bottom: 5px;
}

.icon:hover {
    color: #1E90FF;  
}
}